/********************* Colorreference chart****************

body background color: cream         bgc             #F3F3F3;
menu bar color: jobie gold           mbc             #e2b801;
menu bar font color: jobie green     mbfc            #4F6328;
*/
/********************* Font reference chart****************

head font "Trebuchet MS", Helvetica, sans-serif;
menu font Verdana, Geneva, sans-serif;
body font Arial, Helvetica, sans-serif;
*/
header, section, footer, aside, article, figure {
    display: block;
}

body {
    line-height: 1.8;
    font-size:100%;
    font-family: /*bodyfont*/Arial, Helvetica, sans-serif;
    background-color: /*bgc*/#F3F3F3;
    margin: 0;
    padding: 0;
}

ul, ol, dl , p{
    padding: 0;
    margin: 0;
}

ol {
    list-style-type: none;
    margin: 0;
}

a img {
    border: none;
}
#est a {
	font-family: 'Marck Script', cursive;
	font-size:24px;
	color: #e2b801;
}
a:link {
    color: black;
    font-weight:bold;
    text-decoration: none;

}

a:visited {
    color:  #000;
    text-decoration: none;
}

a:hover, a:active, a:focus {
    text-decoration: none;
    color: #4F6328;
}

div.container {
    /* width: 1160px; */
    width: 100%;
    background-color: /*bgc*/#F3F3F3;
    margin: auto auto auto auto;
}

#footer {
    /* width: 1160px; */
    width: 100%;
    border-top: 4px solid #4F6328;
    font-size: 13.5px;
    color: #4F6328;
    position: relative;
    background:  #e2b801;
    text-align: center;
}

#footer a {
    color: #4F6328;
    text-align: center;
}

#footer a:hover, a:active, a:focus {
    color: #FFFFFF;
}

#header {
    padding: 8px 8px 0px 8px;
    background-color: #4F6328;
    position: relative;
}

#header img{
    width: 100px;
    height: 111px;
	text-align: center;
}

#header p {
    color:#e2b801;
    background:#4f6328;
    font-size: 42px;
    font-family: /*headfont*/"Trebuchet MS", Helvetica, sans-serif;
    font-weight: 600;
}

#header table{
    table-layout: auto;
    width: 100%;
}

#header td {
    border: none;
    text-align: center;
}

/* Home Publications Search ... */
#nav {
    position: relative;
    background-color:  /*mbc*/#e2b801;
    display:  table;
    width: 100%;
    border-bottom: 4px solid #4F6328;
}
/* Home Publications Search ... */
a.button-link {
    color: #4F6328;
    display:  table-cell;
    text-align:  center;
    font-family:/*menufont*/Verdana, Geneva, sans-serif;
    font-size:18px;
    font-weight:bold;
    background: /*mbc*/#e2b801;
    text-decoration: none;
}

#btl-home4{
    padding: 8px 34px 8px 34px;
}
#btl-pubs12{
    padding: 8px 2px 8px 2px;
}
#btl-sear6{
    padding: 8px 30px 8px 30px;
}
#btl-auis12{
    padding: 8px 2px 8px 2px;
}
#btl-cont7{
    padding: 8px 28px 8px 28px;
}
a.button-link:hover, a.button-link:focus, a.button-link:active{
    background:  #CC9900;
    color:  #F3F3F3;
}

.button-link:visited {
    color: #4F6328;
}

#login {
    padding-right: 8px;
    display:  table-cell;
    width: 422px;
    height: 100%;
    text-align: right;
    background-color: /*mbc*/#e2b801;
    color:  /*mbfc*/#4f6328;
    font-size: 18px;
    font-family: Verdana;
}
/*Sign Up/Sign In*/
.button {
    color:/*mbfc*/#4f6328;
    background:/*mbc*/#e2b801;
    font-family: /*menufont*/Verdana, Geneva, sans-serif;
    font-weight:  bold;
    font-size:14px;
    line-height: 1.5;
    border-radius: 6px;
    border-color: /*mbc*/#4f6328;
    border-style:  solid;
    border-width: 2px;
}
.button:hover ,.button:focus,.button:active {
    color : #FFFFFF;
    background : #CC9900;
    border-style:  groove;
    border-color:    #FFFFFF;
    border-width: 2px;
}

div.sidebar {
    float: left;
    /* width: 183px; */
    width: 100%;
    height: 970px;
    background-color:  /*bgc*/#F3F3F3;
	overflow-y: scroll;
}

/*imgs in the sidebar on the left*/
div.sidebar li {
    text-align: center;
   /*  padding: 17px 17px 0px 17px; */
    padding: 17px 15% 0px 15%;

}

div.sidebar ul{
    list-style: none;
}

div.sidebar a, div.sidebar a:visited {
    width: 150px;
    display: block;
    text-decoration: none;
    background-color: /*bgc*/#F3F3F3;

}

div.sidebar a:hover, div.sidebar a:active, div.sidebar a:focus {
    background-color: /*bgc*/#F3F3F3;
}

div#body {
    overflow-y:  auto;
    /*
border: solid #4F6328 9px;
    width: 1142px;
 */
  	/* width: 100%; */
    height:auto;
}
div#body-left {
    max-width:15%;
   /*  min-width: 15%; */
    float: left;
    /* max-height: 970px; */
	margin: auto;
	width: 15%


}


div#body-right {
    /* width: 950px; */
    width: 84%;
    /* min-width: 775px; */
    float:  left;
    min-height: 970px;
    /* border: solid #4F6328 9px; */
    border: solid #4F6328 4px;
    border-bottom: none;
    border-right: none;
    border-top: none;
}

div#content {

    padding:50px;
    /* width: 950px; */
    height: auto;
    overflow-x:  auto;
}

div.sidebarmenu{
    padding: 11px 0px 0px 11px;
    float: right;
    width: 170px;
	/* width: 100%; */
    height: auto;
    background: /*bgc*/#F3F3F3;


}

div.sidebarmenu ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    font: bold 13px Verdana;
    max-width: 170px; /*Main Menu Item widths */
    border-bottom: 1px solid #ccc;

}

.sidebarmenu ul li{
    position: relative;
}

/* Top level menu links style */
.sidebarmenu ul li a{
    display: block;
    overflow: auto; /*force hasLayout in IE7 */
    color: white;
    text-decoration: none;
    text-align:  left;
    padding: 6px;
    border-bottom: 1px solid #778;
    border-right: 1px solid #778;

}

.sidebarmenu ul li a:link, .sidebarmenu ul li a:visited, .sidebarmenu ul li a:active{
    background-color: #4f6328; /*background of tabs (default state)*/
}

.sidebarmenu ul li a:visited{
    color: #FFFFFF;
}

.sidebarmenu ul li a:hover{
    background-color: #e2b801;
    color: #4F6328;
}

/*Sub level menu items */
.sidebarmenu ul li ul{
    position: absolute;
    width: 150px; /*Sub Menu Items width */
    top: 0;
    visibility: hidden;
}

.sidebarmenu a.subfolderstyle{
    background: url(img/rightArrow.gif) no-repeat 97% 50%;
    text-align:  left;
}


/* Holly Hack for IE \*/
* html .sidebarmenu ul li { float: left; height: 1%; }
* html .sidebarmenu ul li a { height: 1%; }
/* End */


h1, h3, h4, h5, h6 {
    margin-top: 0;
}

h2 {
    text-align: left;
}

p.article {
    color:black;
    font-family: /*bodyfont*/Arial, Helvetica, sans-serif;
    font-style: normal;
    display: block;
}

table {
	border-spacing:0; /* Removes the cell spacing via CSS */
    border-collapse: collapse;
    height: auto;
}

table td, th {
	padding-left: 10px;
	padding-right: 5px;
	border-top: 2px solid black;
	border-bottom: 1px solid black;
	/*
border-left:2px solid black;
	border-right:2px solid black;
 */


    text-align: left;
    height: auto;
}

table.textinput td {
    border: none;
}

td.inputname {
    text-align: right;
}

/*Spring2011,php 2012...*/
div.heading2{
    font-size:18px;
    font-weight:  bold;
    font-family: "Times New Roman", Times, serif;
}

div.heading1{
    font-size:25px;
    font-weight:  bold;
    font-family: "Times New Roman", Times, serif;
}
/*4 wrap the volume info  lines*/
div.topline{
    margin-bottom: 2px;
    border-top: 1px solid #000;
}

div.volumeinfo{
    position:  static;
    border-bottom:2px solid #000;
    border-top: 2px solid #000;
}

div.bottomline{
    border-bottom:1px solid #000;
    margin-top: 2px;
}

h2.volume{
    padding-left: 0;
    font-family: "Times New Roman", Times, serif;
    text-align: center;
}
/*end of the Spring2014.php...*/
td.title{
    font-family: "Times New Roman", Times, serif;
    border:none;
    text-align: left;
}

td.title a {
    color:black;
}

td.title a:hover, a:active, a:focus{
    color: #4F6328;
}

td.author{
    font-family: "Times New Roman", Times, serif;
    border:none;
    font-style: italic;
    font-size: 15px;
    text-align: left;
}
td.page{
    border:none;
    font-family: "Times New Roman", Times, serif;
    font-weight:bold;
}

/*color, size of submit button*/
input[type="submit"] {
    color:  #4F6328;
    font-size : 1em;
    padding : 5px;
    border-radius : 6px;
    border-color :  #CC9900;
    background : #F5F5F5;
    font-weight : bold;
    border-style : solid;
}
input[type="submit"]:hover, input[type="submit"]:focus,input[type="submit"]:active {
    color:  #FFFFFF;
    border-color :  #4F6328;
    background :   #CC9900;
    border-style : solid;
}

input[type="text"]:focus{
    outline-style:  none;
}

input[type="password"]:focus{
    outline-style: none;
}

.security {
    display: none;
}



/*search.php*/
#searchbar{
    width:500px;
    margin:50px auto;
}
#sbtext {
    font-weight: bold;
    padding:8px 15px;
    border:2px solid  #CC9900;
    border-radius: 6px;
}

#sbbutton {
    position:relative;
    padding:6px 15px;
    left:-8px;
    font-weight: bold;
    border-style:  solid;
}

#sbbutton:hover{
    color:   #FFFFFF;
    font-weight: bold;
    border-style:   groove;
    border-color:  #CC9900;
    background: #CC9900;
}

#search{
    text-align: left;
}

#searchtitle{
    text-align: center;
}

/*display links on publications.php according to system year until 2020*/

a.display2015{
    display:none;
}

a.display2016{
    display:none;
}

a.display2017{
    display:none;
}

a.display2018{
    display:none;
}

a.display2019{
    display:block;
}

a.display2020{
    display:none;
}
table.no-spacing{
    /* Optional - if you don't want to have double border where cells touch */
}
